MapQuiz.xcworkspace/xcuserdata/
MapQuiz.xcodeproj/project.xcworkspace/xcuserdata/rohanpethiyagoda.xcuserdatad/UserInterfaceState.xcuserstate
MapQuiz.xcodeproj/xcuserdata/rohanpethiyagoda.xcuserdatad/xcdebugger/
Pods/*
